{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サイドメニュー</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <!-- サイドメニュー -->
        <div class="side-menu">
            <ul>
                <li><a href="/job_post_list/">仕事リスト画面</a></li>
                <li><a href="/company/">会社説明</a></li>
                <li><a href="/notifications/">通知画面</a></li>
                <li><a href="/job_post_list/job_regist/">仕事登録画面</a></li>
                <li><a href="/users/profile_top/">マイプロフィール登録画面</a></li>
                <li><a href="/direct_messages/inbox/">DM画面</a></li>

            </ul>
        </div>

        <!-- コンテンツエリア -->
        <div class="content">
            <h1>こんにちは、{{user}}さん</h1>
            <p>ここにコンテンツが表示されます。</p>
        </div>
    </div>
</body>
</html>
